
body {
 background-image: url('file:///C:/Users/Пользователь/Downloads/2024-10-19_13-25-40.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
color: green
 ;

}



h1{ 
    color: '#002D04';
  font-size: 40;
    font-family: 'Arial';
    text-align: center
      margin-top: 20;
    
}

ul{
    color:'#404404';
}
