
body {
background-color :pink ;
}

#logo {
  width: 16;
    height: 16;
}
h1{ 
    color: purple;
  font-size: 40;
    font-family: 'Arial';
    text-align: center
      margin-top: 20;
    
}
p{
    color: fuchsia
}
ul{
    color: purple;
}
